[Unit]
Description=gpspipe Service for %i
Requires=gpspipe@.socket
Requires=gpsd.service

[Service]
ExecStart=/usr/bin/gpspipe -B -R
StandardInput=socket
StandardOutput=socket
CPUAffinity=3
CPUSchedulingPolicy=rr
CPUSchedulingPriority=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
