[Unit]
Description=gpspipe Service for %i
Requires=gpspipe@.socket
Requires=gpsd.service

[Service]
ExecStart=/usr/bin/gpspipe -B -R
CPUSchedulingPolicy=rr
CPUSchedulingPriority=10
Restart=on-failure
StandardInput=socket
StandardOutput=socket

[Install]
WantedBy=multi-user.target
