[Unit]
Description=Precision Time Protocol service
Documentation=man:ptp4l
After=chronyd.service coalesce@.service

[Service]
Type=simple
ExecStart=/usr/local/sbin/ptp4l -A -i %i -f /etc/linuxptp/ptp4l.conf
CPUSchedulingPolicy=rr
CPUSchedulingPriority=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
