[Unit]
Description=Synchronize PTP Hardware Clock from System Time
Documentation=man:ts2phc
Requires=ptp4l@.service
After=ptp4l@.service

[Service]
Type=simple
ExecStart=/usr/sbin/ts2phc -c %i -f /etc/linuxptp/ts2phc.conf
CPUSchedulingPolicy=rr
CPUSchedulingPriority=10

[Install]
WantedBy=multi-user.target
